#master{
margin: 0 auto;
background-image: url("background.png");
background-repeat: repeat-x;
}

body {
height:100%;
}

header{ 
	width:100%; 
	background-color:#0CC;
	height:130px;
}

.info{
background:#FFF;
height:100%;
width:150px;
}

footer{
	width:100%; 
	height:100%; 
	background-color:#0cc;
	
}